fastapi[standard]
uvicorn[standard]
sqlmodel
psycopg[binary]
alembic
pydantic-settings
redis
python-jose[cryptography]
pwdlib[argon2]
python-multipart
httpx
pytest
pytest-asyncio
email-validator
google-cloud-firestore